<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
    <a href="/project/iron"><div class="card">
    <div class="card-body">Iron and Steel</div></div></a><br>
    <a href="/project/textile"><div class="card">
    <div class="card-body">Textiles and Leather</div></div></a><br>
    <a href="/project/paper"><div class="card">
    <div class="card-body">Pulp and Paper</div></div></a><br>
    <a href="/project/petrol"><div class="card">
    <div class="card-body">Petrochemicals,refineries</div></div></a><br>
    <a href="/project/chemical"><div class="card">
    <div class="card-body">Chemicals</div></div></a><br>
    </div>
</body>
</html>