<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/ui/assets/images/favicon.png">
    <title>MyPMS</title>
    <!-- Custom CSS -->
    <link href="/ui/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/ui/dist/css/style.min.css" rel="stylesheet">
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full" data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="/">
                        <!-- Logo icon -->
                       <!--  <b class="logo-icon">
                           
                            <img src="../../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                           
                            <img src="../../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b> -->
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                             <!-- dark Logo text -->
                             <img src="/ui/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                             <!-- Light Logo text -->    
                             <img src="/ui/assets/images/MyPMS(Different size)_512x512 (2).png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <!-- <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li> -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/ui/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="/signout"><i class="ti-user m-r-5 m-l-5"></i> Logout</a>
                                <!-- <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                                <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a> -->
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div class="user-pic"><img src="/ui/assets/images/users/1.jpg" alt="users" class="rounded-circle" width="40" /></div>
                                <div class="user-content hide-menu m-l-10">
                                    <!-- <a href="javascript:void(0)" class="" id="Userdd" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
                                        <h5 class="m-b-0 user-name font-medium">Username</i></h5>
                                        <span class="op-5 user-email">company name</span>
                                    <!-- </a> -->
                                    <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="Userdd">
                                        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                                        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                                    </div> -->
                                </div>
                            </div>
                            <!-- End User Profile-->
                        </li>
                       <!--  <li class="p-15 m-t-10"><a href="javascript:void(0)" class="btn btn-block create-btn text-white no-block d-flex align-items-center"><i class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Create New</span> </a></li> -->
                        <!-- User Profile-->
                        <li class="p-15 m-t-10"> <a class="btn btn-block create-btn text-white no-block d-flex align-items-center" href="index.html" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="pages-profile.html" aria-expanded="false"><i class="mdi mdi-account-network"></i><span class="hide-menu">Profile</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="table-basic.html" aria-expanded="false"><i class="mdi mdi-border-all"></i><span class="hide-menu">Table</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="icon-material.html" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">Icon</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="starter-kit.html" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">Blank</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="error-404.html" aria-expanded="false"><i class="mdi mdi-alert-outline"></i><span class="hide-menu">404</span></a></li>
                        <li class="text-center p-40 upgrade-btn">
                            <a href="/signout" class="btn btn-block btn-danger text-white">Logout</a>
                        </li>
                    </ul>
                    
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/dashboard/viewproject?project={{projectdetails.0.projectId}}">Project</a></li>
                                    <li class="breadcrumb-item"><span>Update Project</span></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <form method="POST" action="/append">
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <!-- title -->
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Sites</h4>
                                        <h5 class="card-subtitle">Add new sites</h5>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="dl">
                                            <div class="text-right upgrade-btn">
                                                <span class="btn btn-info text-white" onclick="addsiterow()">Add Row</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">Site</th>
                                            <th class="border-top-0">Leader</th>
                                            <th class="border-top-0">Start date</th>
                                            <th class="border-top-0">End Date</th>
                                            <th class="border-top-0">Remove Row</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody-site">
                                        <tr>
                                            <td>
                                                <h4 class="m-b-0 font-16"><input type="text" id="name_site" name="name_site" class="form-control" placeholder="Site Location"/><input type="text" id="project" name="project" class="form-control" value="{{projectdetails.0.projectId}}" hidden /></h4>
                                            </td>
                                            {{!-- <td><input type="text" id="leader_site" name="leader_site" class="form-control" placeholder="Leader Name" /></td> --}}
                                            <td><select id="leader_site" name="leader_site" class="form-control" placeholder="Leader Name">
                                                  {{#each name}}
                                                  <option value="{{this.id}}">{{this.id}}</option>
                                                  {{/each}}
                                                </select></td>
                                            <td><input type="text" id="start_site" name="start_site" class="form-control" placeholder="Start Date" /></td>
                                            <td><input type="text" id="end_site" name="end_site" class="form-control" placeholder="End Date"/>
                                                <input type="text" id="n_site" name="n_site" class="form-control" placeholder="End Date" hidden /></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
               
               <div class="row" style="margin-top: 60px">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <!-- title -->
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">Tasks</h4>
                                        <h5 class="card-subtitle">Add new tasks</h5>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="dl">
                                            <div class="text-right upgrade-btn">
                                                <span class="btn btn-info text-white" onclick="addtaskrow()">Add Row</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">Task</th>
                                            <th class="border-top-0">Description</th>
                                            <th class="border-top-0">Quanitity</th>
                                            <th class="border-top-0">Unit</th>
                                            <th class="border-top-0">Remove Row</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody-task">
                                        <tr>
                                            <td>
                                                <h4 class="m-b-0 font-16"><input type="text" id="name_task" name="name_task" class="form-control" placeholder="Task name"/></h4>
                                            </td>
                                            <td><input type="text" id="description_task" name="description_task" class="form-control" placeholder="Description"/></td>
                                            <td><input type="text" id="qty_task" name="qty_task" class="form-control" placeholder="Quanitity"/></td>
                                            <td><input type="text" id="type_task" name="type_task" class="form-control" placeholder="Unit"/>
                                                <input type="text" id="n_task" name="n_task" class="form-control" placeholder="End Date" hidden/></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 60px">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <!-- title -->
                                <div class="d-md-flex align-items-center">
                                    <div>
                                        <h4 class="card-title">BOQ</h4>
                                        <h5 class="card-subtitle">Add new material</h5>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="dl">
                                            <div class="text-right upgrade-btn">
                                                <span class="btn btn-info text-white" onclick="addboqrow()">Add Row</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">Quantity</th>
                                            <th class="border-top-0">Unit</th>
                                            <th class="border-top-0">Remove Row</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody-boq">
                                        <tr>
                                            <td>
                                                <h4 class="m-b-0 font-16"><input type="text" id="name_boq" name="name_boq" class="form-control" placeholder="Material" /></h4>
                                            </td>
                                            <td><input type="text" id="qty_boq" name="qty_boq" class="form-control" placeholder="Quantity" /></td>
                                            <td><input type="text" id="type_boq" name="type_boq" class="form-control" placeholder="Select Unit" />
                                                <input type="text" id="n_boq" name="n_boq" class="form-control" placeholder="End Date" hidden/></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">
                <div style="margin: 40px auto">
                    <button class="btn btn-danger btn-block" type="submit" >Update Project</button>
                    </form>
             </div>
            </div>
            </div>

            <footer class="footer text-center">
                All Rights Reserved by Hiespread Solutions LLP<br/> Designed and Developed by <a href="https://thedigialbum.com">Hiespread Solutions LLP</a>
            </footer>
           
        </div>
       
    </div>
    

    <script src="/ui/assets/libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        var sitelimit = 1;
        var tasklimit=1;
        var boqlimit=1;
        document.getElementById('n_site').value=sitelimit;
        document.getElementById('n_task').value=sitelimit;
        document.getElementById('n_boq').value=sitelimit;

        function addsiterow(){
            if(sitelimit < 10){
            var html = '<tr><td><h4 class="m-b-0 font-16"><input type="text" id="site" name="n_site" class="form-control" placeholder="Site" required/></h4></td><td></td><td><input type="text" id="site" name="n_site" class="form-control" placeholder="Start Date" required/></td><td><input type="text" id="site" name="n_site" class="form-control" placeholder="End Date" required/></td><td><button class="btn btn-circle btn-danger text-white btnDelete"><i class="ti-close"></i></button></td></tr>';
            $('#tbody-site').append(html);
            sitelimit++;
            document.getElementById('n_site').value=sitelimit;
            }else{alert('You cannot add more than 10 site at once');
            }
        }
         function addtaskrow(){
            if(tasklimit < 20){
            var html = '<tr><td><h4 class="m-b-0 font-16"><input type="text" id="site" name="n_site" class="form-control" placeholder="Task name" required/></h4></td><td><input type="text" id="site" name="n_site" class="form-control" placeholder="Description" required/></td><td><input type="text" id="site" name="n_site" class="form-control" placeholder="Quanitity" required/></td><td><input type="text" id="site" name="n_site" class="form-control" placeholder="Unit" required/></td><td><span class="btn btn-circle btn-danger text-white btnDelete"><i class="ti-close"></i></span></td></tr>';
            $('#tbody-task').append(html);
            tasklimit++;
            document.getElementById('n_task').value=tasklimit;
            }else{alert('You cannot add more than 20 tasks at once');
            }
        }
         function addboqrow(){
            if(boqlimit < 20){
            var html = '<tr><td><h4 class="m-b-0 font-16"><input type="text" id="site" name="n_site" class="form-control" placeholder="Material" required/></h4></td><td><input type="text" id="site" name="n_site" class="form-control" placeholder="Quantity" required/></td><td><input type="text" id="site" name="n_site" class="form-control" placeholder="Select Unit" required/></td><td><span class="btn btn-circle btn-danger text-white btnDelete"><i class="ti-close"></i></span></td></tr>';
            $('#tbody-boq').append(html);
            boqlimit++;
            document.getElementById('n_boq').value=boqlimit;
            }else{alert('You cannot add more than 20 boq at once');
            }
        }
        $("#tbody-site").on('click', '.btnDelete', function () {
             $(this).closest('tr').remove();
             sitelimit--;
             document.getElementById('n_site').value=sitelimit;
        });
        $("#tbody-task").on('click', '.btnDelete', function () {
             $(this).closest('tr').remove();
             tasklimit--;
             document.getElementById('n_task').value=tasklimit;
        });
        $("#tbody-boq").on('click', '.btnDelete', function () {
             $(this).closest('tr').remove();
             boqlimit--;
             document.getElementById('n_boq').value=boqlimit;
        });
    </script>
    
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/ui/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/ui/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/ui/dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="/ui/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/ui/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/ui/dist/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="/ui/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="/ui/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/ui/dist/js/pages/dashboards/dashboard1.js"></script>
    
</body>

</html>